{% extends 'base.html' %}
{% load static %}

{% block title %}
Analytics
{% endblock %}

{% block content %}
<body>
<div class="container-fluid">

    <div class="row">
        
        <div class="col-sm-6">


            <div class="card">

                <div class="card-header">
                    <h5 class="card-title"> Total of Shipment </h5>
                    </div>

                    <div class="card-body">
                        {% for shipment in shipments %}
                        <p class="card-text">{{ forloop.counter }} </p>
                        {% endfor %}
                    </div>
         </div>   

            </div> <!-- Col block-->
            
</div> <!-- Row block -->
</div>

</body>
{% endblock %}