{% extends 'base.html' %}
{% load static %}

{% block title %}
Analytics
{% endblock %}

{% block content %}
<body>
<div class="container-fluid">

    <div class="row">
        
        <div class="col-sm-6">


            <div class="card">

                <div class="card-header">
                    <h5 class="card-title"> Total of Shipment </h5>
                    </div>

                    <div class="card-body">
                      
                        <p class="card-text">{{shipment_total}}
                            <p class="card-text">{{shipment_delivered}}
                                <p class="card-text">{{shipment_return}}

                        </p> 
                       
                    </div>
         </div>   

            </div> <!-- Col block-->
            
</div> <!-- Row block -->
</div>

</body>
{% endblock %}