{% extends 'base.html' %}
{% load static %}

{% block title %}
Analytics
{% endblock %}

{% block content %}
<body>
<div class="container-fluid">

    <div class="row">
        
        <div class="col-sm-6">


            <div class="card">

                <div class="card-header">
                    <h5 class="card-title"> Total of Shipment </h5>
                    </div>

                    <div class="card-body">
                        {% with totalship=0 %}
                        {% for shipment in shipments %}
                        totalship  = {{ forloop.counter }}
                       
                        <p class="card-text">total ship = {{shipment|length}} counter {{shipment.shipment_id.counter}}
                            count {{shipment.count}} last {{forloop.last}}  

                        </p> 
                        {% endfor %}
                        {% endwith %}
                    </div>
         </div>   

            </div> <!-- Col block-->
            
</div> <!-- Row block -->
</div>

</body>
{% endblock %}