{% extends 'base.html' %}
{% load static %}

{% block title %}
الأسئلة المكررة
{% endblock %}

{% block content %}
<style>

p.rtl {
  direction: rtl;
  font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
}
h4.rtl {
  direction: rtl;
  font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
}
h2.rtl {
  direction: rtl;
  font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
}
ul.rtl {
  direction: rtl;
  font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
}

</style>
<body>


    <div class="container-fluid">
        <h2 class="rtl">الأسئلة المتكررة</h1>



        <h4 class="rtl" >كيف يمكنني تتبع طرودي؟
        </h4>
        <p class="rtl"> يمكنك تتبع طرودك عن طريق الاتصال على الرقم 966507368133.
        </p>

        <h4 class="rtl" >ما هي المناطق التي تغطيها خدماتكم؟  </h4>
     
        <p class="rtl"> نحن نقدم خدمات التوصيل داخل مدينة أبها وضواحيها.
        </p>

        <h4 class="rtl">هل يمكنني تحديد وقت التوصيل؟ </h4>
        <p class="rtl">نعم، يمكنك اختيار وقت التوصيل الذي يناسبك أثناء عملية الطلب عن طريق إضافة ملاحظة. </p>
        <h4 class="rtl">هل يتوفر لديكم خدمة الدفع عند الاستلام؟
        </h4>
        <p class="rtl">حاليًا، لا تتوفر خدمة الدفع عند الاستلام.</p>
        <h4 class="rtl">ماذا أفعل إذا لم أكن موجودًا عند وصول الطرد؟  </h4>
        <p class="rtl">إذا لم تكن موجودًا، سنقوم بمحاولة التوصيل مرة أخرى أو يمكنك تحديد موعد آخر مناسب. </p>
        <h4 class="rtl">كيف يمكنني تغيير عنوان التوصيل بعد إتمام الطلب؟ </h4>
        <p class="rtl">يمكنك تغيير عنوان التوصيل عن طريق الاتصال بخدمة العملاء.        </p>
    

        <h4 class="rtl">ما هو الوقت المتوقع لتوصيل الطرد؟ </h4>
        <p class="rtl">عادةً ما يتم التوصيل خلال 6 إلى 24 ساعة من تأكيد الطلب، اعتمادًا على موقع التوصيل.        </p>
    
        <h4 class="rtl">هل توفرون خدمة التوصيل في عطلات نهاية الأسبوع؟        </h4>
        <p class="rtl">نعم، نحن نقدم خدمات التوصيل طوال أيام الأسبوع، بما في ذلك عطلات نهاية الأسبوع. </p>

        <h4 class="rtl">كيف يمكنني إلغاء طلبي؟  </h4>
        <p class="rtl">يمكنك إلغاء الطلب عبر الاتصال بخدمة العملاء قبل خروج الطرد للتوصيل.
        </p>

        <h4 class="rtl">هل يمكنني توصيل طرود دولية؟ </h4>
        <p class="rtl">حاليًا، نقدم خدمات التوصيل المحلية فقط، ولكن نخطط لإضافة التوصيل الدولي قريبًا.</p>
    
        <h4 class="rtl">ما هي الأحجام والأوزان التي يمكنكم توصيلها؟        </h4>
        <p class="rtl">نستطيع توصيل الطرود التي تصل إلى 20 كيلوغرامًا وبأبعاد لا تتجاوز 40x40x40 سم.        </p>
        <h4 class="rtl">هل يمكنني طلب توصيل طرد عاجل؟
        </h4>

        <p class="rtl">نعم، نوفر خدمة التوصيل الفوري مع أوقات توصيل أسرع مقابل رسوم إضافية.        </p>

        <h4 class="rtl">هل يمكنني توصيل الطرود إلى صندوق بريد؟
        </h4>

        <p class="rtl">لا، حاليًا لا نوفر هذه الخدمة ولكن سنعمل عليها مستقبلاً.</p>
    </div>


</body>


{% endblock %}