{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<style>
.title
{
    font-size: 1.6rem;
    font-weight: bold;
    color:#749ca4

}
.col
{
    margin-bottom: 3rem;

}
label {
    color:#000;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
select { width: 10rem ;
    font-size: 1.2rem;
}
option {
    font-size: 1.2rem;
}

</style>

<body>
    
<div class="container-fluid">
    <h1 class="my-4">Home</h1>
    <div class="row">
    <div class = "col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Shipment_total</h5>
             </div>
                <p class="card-text">{{shipment_total}}

             </div>

        </div>

    <div class = "col">
        <div class="card">     
        <div class="card-header">
            <h5 class="card-title">Shipment delivered total</h5>
        </div>
           {% with shipment_delivered=0 %}
           {% for shipment in shipments %}
           {% if shipment.statuses.last.status == 'delivered' %}
           
           <p class="card-text">{{shipment_delivered|add:"1"}}

            {% else %}
            <p class="card-text">{{shipment_delivered|add:"0"}}
           
                 {% endif %}
                 {% endfor %}
                 {% endwith %}
                </div>
            </div>
            <div class = "col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Shipment return total</h5>
            </div>
               {% with shipment_return=0 %}
               {% for shipment in shipments %}

               {% if shipment.statuses.last.status == 'returned' %}
               <p class="card-text">{{shipment_return|add:"1"}}
                {% else %}
            <p class="card-text">{{shipment_return|add:"0"}}
                 {% endif %}
                 {% endfor %}
                 {% endwith %}

        </div>
    </div>

    <div class = "col">
        <div class="card">     
        <div class="card-header">
            <h5 class="card-title">Shipment canceled total</h5>
        </div>
           {% with shipment_canceled=0 %}
           {% for shipment in shipments %}
           {% if shipment.statuses.last.status == 'cancelled' %}
           
           <p class="card-text">{{shipment_canceled|add:"1"}}
            {% else %}
            <p class="card-text">{{shipment_canceled}}
                 {% endif %}
                 {% endfor %}
                 {% endwith %}
                </div>
            </div>
        </div>


    <div class="row">

       
        {% for shipment in shipments %}
        <div class="col-sm-6">
            


            <div class="card">

                <div class="card-header">
                    
                <h5 class="card-title"> <strong>Shipment number:</strong>  {{ shipment.shipping_number }}</h5>
                <p class="card-title"><strong>Created at:</strong> {{ shipment.created_at }}</p>
                </div>

                <div class="card-body">
                 
                 
                 
                    
                    <div class="container">

                <div class="row"> 
                    <div class="col"> 
                  <h5 class="title">Shipment Details</h5>
                  
                  <p class="card-text"><strong>Status:</strong> {{ shipment.statuses.last.status }}</p>
                  <p class="card-text"><strong>Tracking number:</strong> {{ shipment.tracking_number}}</p>
                  <p class="card-text"><strong>Merchant:</strong> {{ shipment.merchant }}</p>
                    </div>

                    <div class="col"> 
                        
                        <h5 class="title">Package Details </h5>
                        {% for pckg in shipment.packages %}
                        <p class="card-text"><strong> Content:</strong> {{ pckg.name }}</p>
                        <p class="card-text"><strong> Quantity:</strong>{{ pckg.quantity }}</p>
                        <p class="card-text"><strong> Weight:</strong> {{ pckg.weight.value }} {{ pckg.weight.units }}</p>
                        
                        
                          {% endfor %}
                         
                          </div>
                    </div> <!-- row Block-->
                
                        <div class="row"> 
                    <div class="col"> 
                  <h5 class="title">Ship From</h5>
                    <p class="card-text"><strong>City: </strong>  {{ shipment.ship_from.city }}</p>
                    <p class="card-text"><strong>Address: </strong>{{ shipment.ship_from.address_line }}</p>
                    <p class="card-text"><strong>Postal Code: </strong>{{ shipment.ship_from.postal_code }} </p>
                    <p class="card-text"><strong>Phone: </strong>{{ shipment.ship_from.phone }}</p>
                    <p class="card-text"><strong>Type:</strong>{{ shipment.type }}</p>
                    
                    </div>

                    <div class="col"> 
                        <h5 class="title">Ship To</h5>
      
                          <p class="card-text"><strong>City: </strong>  {{ shipment.ship_from.city }}</p>
                          <p class="card-text"><strong>Address: </strong>{{ shipment.ship_from.address_line }}</p>
                          <p class="card-text"><strong>Postal Code: </strong>{{ shipment.ship_from.postal_code }} </p>
                          <p class="card-text"><strong>Phone: </strong>{{ shipment.ship_from.phone }}</p>
                          <p class="card-text"><strong>Type:</strong>{{ shipment.type }}</p>
                         
                          </div>
                    </div> <!-- row Block-->
                    <div class="row"> 
                    <div class="col"> 
                     <a href="{% url 'shipments:shipment_detail' shipment.shipment_id %}" class="btn btn-primary">Shipment Detail</a>
                </div>
                <div class="col"> 

                    {% if shipment.type == "shipment" %}
                <form method="post" action="{% url 'shipments:update_status' shipment.shipment_id %}">
                    {% csrf_token %}
                    <label for="status">Select next status of shipment:</label>
                    <select id="status" name="status">
                        
                        <option value="pending">Pending</option>
                        <option value="delivering">Delivering</option>
                        <option value="delivered">Delivered</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                    <input type="submit" value="Update Status"  class="btn btn-primary">

                    {% else %}

                    <form method="post" action="{% url 'shipments:update_status' shipment.shipment_id %}">
                        {% csrf_token %}
                        <label for="status">New Status:</label>
                        <select id="status" name="status">
                            <option value="in_progress">In Progress</option>
                            <option value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                        <input type="submit" value="Update Status"  class="btn btn-primary">
                </form>
                {% endif %}

            </div>

            <div class="col">

            <a href="https://wa.me/{{shipment.ship_from.phone}} " class="btn btn-primary">Contact with customer</a>
            </div>

                </div> <!-- row Block-->
                    </div> <!-- container Block-->
                    

                    
                </div> <!-- Card Block-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
{% endblock %}
