{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block title %}
Home
{% endblock %}

{% block content %}
<style>
.title
{
    font-size: 1.6rem;
    font-weight: bold;
    color:#749ca4

}
.col
{
    margin-bottom: 3rem;

}
label {
    color:#000;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
select { width: 20rem ;
    font-size: 1.2rem;
}
option {
    font-size: 1.2rem;
}
.card-text-analytic {
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
        }

</style>

<body>
    
<div class="container-fluid">
    <h1 class="my-4">Home</h1>
    <div class="row">

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Shipment_total</h5>
                 </div>
                    <p class="card-text-analytic">{{shipment_total}} </p>
                    <p>Shipments</p>

    
                 </div>

        </div>

    <div class = "col">
        <div class="card">     
        <div class="card-header">
            <h5 class="card-title">Shipment delivered total</h5>
        </div>
        <p class="card-text-analytic" > {{shipment_delivered}}</p>

                </div>
            </div>
            <div class = "col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Shipment return total</h5>
            </div>
               
               <p class="card-text-analytic">{{shipment_returnd}}
               
               
        </div>
    </div>

    <div class = "col">
        <div class="card">     
        <div class="card-header">
            <h5 class="card-title">Shipment canceled total</h5>
        </div>
           
           <p class="card-text-analytic">{{shipment_canceled}}
               
                </div>
            </div>
        </div>


        <table class="table">
            <thead>
              <tr>
                <th scope="col">Shipment #</th>
                <th scope="col">Status</th>
                <th scope="col">Created At </th>
                <th scope="col">Contact with customer </th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>

            <tr>
                {% for shipment in shipments %}
                <td>{{ shipment.shipping_number }}</td>
                <td> 
                    {% if shipment.statuses.last.status == "delivered" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22C55E" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg> {{ shipment.statuses.last.status }}


                      {% elif shipment.statuses.last.status == "delivering" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EAB308" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg> {{ shipment.statuses.last.status }}

                      {% elif shipment.statuses.last.status == "pending" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EAB308" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg> {{ shipment.statuses.last.status }}

                      {% elif shipment.statuses.last.status == "in_progress" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EAB308" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg> {{ shipment.statuses.last.status }}


                      {% elif shipment.statuses.last.status == "Returned" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22C55E" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg> {{ shipment.statuses.last.status }}

                      {% elif shipment.statuses.last.status == "cancelled" %}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF4444" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg> {{ shipment.statuses.last.status }}

                      {% endif %}





                </td>
                <td>{{ shipment.created_at }}</td>
                <td><a class="bi bi-telephone-fill" href="https://wa.me/{{shipment.ship_from.phone}} " >
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#749ca4" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                      </svg>
                    </a>
                </td>
                <td><a href="{% url 'shipments:shipment_detail' shipment.shipment_id %}" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#749ca4" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                      </svg>



                </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
</div>

</body>
</html>
{% endblock %}
