{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<body>
    
<div class="container-fluid">
    <h1 class="my-4">Home</h1>
    <div class="row">
        {% for shipment in shipments %}
        <div class="w-100 p-3">
            <div class="card">
                <div class="card-body">
                    
                    <h5 class="card-title">Shipment number: {{ shipment.shipping_number }}</h5>
                    
                    <div class="container">
                    <p class="card-text"><strong>Created at:</strong> {{ shipment.created_at }}</p>
                        <div class="row"> 

                     <div class="col"> 
                    <p class="card-text"><strong>Status:</strong> {{ shipment.statuses.last.status }}</p>
                        </div>
                        <div class="col"> 
                    <p class="card-text"><strong>tracking number:</strong> {{ shipment.tracking_number}}</p>
                </div>
                <div class="col"> 
                    <p class="card-text"><p><strong>Merchant:</strong> {{ shipment.merchant }}</p>
                </div>
                
                </div> <!-- row Block-->
                     
                <div class="row"> 
                    <p class="card-text"> <strong>Address: </strong>{{ shipment.ship_from.address_line }}</p>
                    <p class="card-text"><strong>Postal Code: </strong>{{ shipment.ship_from.postal_code }} </p>
                    <p class="card-text"><strong>Phone: </strong>{{ shipment.ship_from.phone }}</p>
                    <p class="card-text"><strong>Type:<p><strong>{{ shipment.type }}</p>
                        <h5 class="title">Ship From</h5>
                        <h5 class="title">Ship To</h5>
                    <div class="col"> 
                    
                    <p class="card-text"><strong>City: </strong>  {{ shipment.ship_from.city }}</p>
                    
                    </div>

                    <div class="col"> 
                       
      
                          <p class="card-text"><strong>City: </strong>  {{ shipment.ship_from.city }}</p>
                         
                          </div>
                    </div> <!-- row Block-->
                      
                    <div class="row">
                      {% for pckg in shipment.packages %}
                      <div class="col"> 
                    <p class="card-text"><strong>Packages weight:</strong> {{ pckg.weight.value }} {{ pckg.weight.units }}</p>
                </div>
                <div class="col"> 
                    <p class="card-text"><strong>Packages quantity:</strong>{{ pckg.quantity }}</p>
                </div>
                    <div class="col"> 
                    <p class="card-text"><strong>Packages content:</strong> {{ pckg.name }}</p>
                </div>
                    {% endfor %}
                    
                    </div> <!-- row Block-->

                    </div> <!-- container Block-->
                    <a href="{% url 'shipments:shipment_detail' shipment.shipment_id %}" class="btn btn-primary">View Details</a>

                    
                </div> <!-- Card Block-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
{% endblock %}
