{% extends 'base.html' %}
{% load static %}

{% block title %}
سياسة الخصوصية
{% endblock %}

{% block content %}
<style>

p.rtl {
  direction: rtl;
  font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
}
h2.rtl {
  direction: rtl;
  font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
}

</style>
<body>


    <div class="container-fluid">

        <h4 class="rtl" >جمع المعلومات</h4>
        <p class="rtl"> <ul class="rtl">

            نقوم بجمع المعلومات التالية: 
            <li>الاسم الكامل  </li>
            <li> عنوان البريد الإلكتروني  </li>
            <li>رقم الهاتف </li>
            <li>عنوان التوصيل </li>
            <li>تفاصيل الطلبات  </li>
            </ul>

        </p>

        <h2 class="rtl" >استخدام المعلومات</h2>
     
        <p class="rtl"> نستخدم المعلومات من أجل:            <ul class="rtl">
            <li>معالجة وتوصيل الطلبات  </li>
            <li> تحسين جودة الخدمة  </li>
            <li>التواصل مع العملاء  </li>
            <li>أغراض التسويق والإعلانات (بموافقتك) </li>
            </ul>

        </p>

        <h2 class="rtl">حماية المعلومات </h2>
        <p class="rtl">نستخدم تقنيات وإجراءات أمنية متقدمة لحماية المعلومات الشخصية من الوصول غير المصرح به.</p>
        <h2 class="rtl">مشاركة المعلومات</h2>
        <p class="rtl">لا نشارك معلوماتك الشخصية مع أطراف ثالثة إلا بقدر ما هو ضروري لتقديم خدماتنا، مثل شركات الشحن. </p>
        <h2 class="rtl">حقوق المستخدمين</h2>
        <p class="rtl">يحق للمستخدمين الوصول إلى معلوماتهم الشخصية وتحديثها وتصحيحها أو طلب حذفها. كما يمكنهم الانسحاب من أي رسائل تسويقية في أي وقت.</p>
        <h2 class="rtl">التغييرات على السياسة </h2>
        <p class="rtl">نحتفظ بالحق في تعديل سياسة الخصوصية من وقت لآخر. سيتم إخطار المستخدمين بأي تغييرات كبيرة.</p>
    
    </div>


</body>


{% endblock %}