{% extends 'base.html' %}
{% load static %}

{% block title %}
Shipment Detail
{% endblock %}
<!--mb-4-->
{% block content %}
<style>

.title
{
    font-size: 1.6rem;
    font-weight: bold;
    color:#749ca4

}

</style>
<body>
<div class="container-fluid">
   <!--<h1 class="my-4">Shipment Detail</h1>--> 
   <div class="row row-cols-2">


    <div class="col">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Shipment Detail</h5>
        </div>
        <div class="card-body">
            <p class="card-text"> <strong>Shipping Number:</strong> {{ shipment.shipping_number }}</p>
            <p class="card-text"><strong>Status:</strong> {{ shipment.statuses.last.status }}</p>
            <!--<p class="card-text"> <strong>Shipment ID:</strong> {{ shipment.shipment_id }}</p>-->
           <!-- <p class="card-text"> <strong>Merchant:</strong> {{ shipment.merchant }}</p>-->
            <p class="card-text"> <strong>Created At:</strong> {{ shipment.created_at }}</p>
            <p class="card-text"> <strong>Type:</strong> {{ shipment.type }}</p>
            <!--<p class="card-text"> <strong>Payment Method:</strong> {{ shipment.payment_method }}</p>-->
            <!--<p class="card-text"> <strong>Cash on Delivery:</strong> {{ shipment.cash_on_delivery.amount }} {{ shipment.cash_on_delivery.currency }}</p>-->
            <p class="card-text"> <strong>Policy:</strong> <a href="{{ shipment.label.url }}">PDF</a></p>
        </div>
    </div>
</div>


<div class="col">
    <div class="card">
                <div class="card-header">
                    <h5 class="card-title"> <strong>Shipping Address</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col">
                    <h3 class="title">Ship From</h3>
                    <p class="card-text"> <strong>Name:</strong> {{ shipment.ship_from.name }}</p>
                    <p class="card-text"> <strong>Address:</strong> {{ shipment.ship_from.address_line }}</p>
                    <p class="card-text"> <strong>Phone:</strong> {{ shipment.ship_from.phone }}</p>
                    <p class="card-text"> <strong>Email:</strong> {{ shipment.ship_from.email }}</p>
                    <div id="originMap" data-lat="{{ shipment.ship_from.latitude }}" data-lng="{{ shipment.ship_from.longitude }}" data-name="{{ shipment.ship_from.name }}" data-address="{{ shipment.ship_from.address_line }}" style="height: 300px; width: 100%;"></div>
                </div>
            
        
        <div class="col">
            
            <h3 class="title">Ship To</h3>
                    <p class="card-text"> <strong>Name:</strong> {{ shipment.ship_to.name }}</p>
                    <p class="card-text"> <strong>Address:</strong> {{ shipment.ship_to.address_line }}</p>
                    <p class="card-text"> <strong>Phone:</strong> {{ shipment.ship_to.phone }}</p>
                    <p class="card-text"> <strong>Email:</strong> {{ shipment.ship_to.email }}</p>
                    <div id="destinationMap" data-lat="{{ shipment.ship_to.latitude }}" data-lng="{{ shipment.ship_to.longitude }}" data-name="{{ shipment.ship_to.name }}" data-address="{{ shipment.ship_to.address_line }}" style="height: 300px; width: 100%;"></div>
                </div>
            
        
    

    <h2 class="mt-4">Meta Information</h2>
    <ul class="list-group mb-4">
        {% for key, value in shipment.meta.items %}
        <li class="list-group-item">
            <p class="card-text"> <strong>{{ key|title }}:</strong> {{ value }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

</div>
</div>
</div>



    <!--<h2 class="mt-4">Packages</h2>-->
    <div class="col">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Packages Detail</h5>
        </div>
        <div class="card-body">
        {% for package in shipment.packages %}
        <p class="card-text"> <strong>Content:</strong> {{ package.name }}</p>
       <!-- <p class="card-text"> <strong>SKU:</strong> {{ package.sku }}</p>-->
       <!--  <p class="card-text"> <strong>Price:</strong> {{ package.price.amount }} {{ package.price.currency }}</p>-->
        <p class="card-text"> <strong>Quantity:</strong> {{ package.quantity }}</p>
        <!--<p class="card-text"> <strong>Weight:</strong> {{ package.weight.value }} {{ package.weight.unit }}</p>-->
        <p class="card-text"> <strong>Total Amount:</strong> {{ shipment.total.amount }} {{ shipment.total.currency }}</p>
        <p class="card-text"> <strong>Total Weight:</strong> {{ shipment.total_weight.value }} {{ shipment.total_weight.units }}</p>

        {% endfor %}
    </div>
    </div>
</div>

</div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> <strong>Status History </h5>
        </div>
        <div class="card-body">
    <!--<h2 class="mt-4">Status History</h2>-->
    <ul class="list-group mb-4">
        {% for status in shipment.statuses.all %}
        <li class="list-group-item">{{ status.date_time }} - {{ status.status }}</li>
        {% endfor %}
    </ul>
</div>
</div>

    <div class="d-flex justify-content-between">

       {% if shipment.type == "shipment" %}
        <form method="post" action="{% url 'shipments:update_status' shipment.shipment_id %}">
            {% csrf_token %}
            <label for="status">Select next status of shipment:</label>
            <select id="status" name="status">
                <option value="" selected disabled hidden>The current status is {{ shipment.statuses.last.status }}</option>
                <option value="pending">Pending</option>
                <option value="delivering">Delivering</option>
                <option value="delivered">Delivered</option>
                <option value="cancelled">Cancelled</option>
            </select>
            <input type="submit" value="Update Status" onclick="clicked(event)" class="btn btn-primary">

            {% else %}

            <form method="post" action="{% url 'shipments:update_status' shipment.shipment_id %}">
                {% csrf_token %}
                <label for="status">New Status:</label>
                <select id="status" name="status">
                    <option value="" selected disabled hidden>The current status is {{ shipment.statuses.last.status }}</option>
                    <option value="in_progress">In Progress</option>
                    <option value="delivered">Delivered</option>
                    <option value="returned">Returned</option>
                    <option value="cancelled">Cancelled</option>
                </select>
                <input type="submit" value="Update Status" onclick="clicked(event)"  class="btn btn-primary">
        </form>
        
        {% endif %}
        <script>
            function clicked(e)
            {
                if(!confirm('Are you sure to update status?')) {
                    e.preventDefault();
                }
            }
            </script>
    </div>

</div>


 <!--
      The `defer` attribute causes the script to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises. See
      https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly"
      defer
    ></script>
</body>
{% endblock %}
