{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<style>
.container-fluid{
  align-items: center;
}

</style>
<body>
  <div class="container d-flex justify-content-center align-items-center">
  <div class = "row">
<h2>Login</h2>
</div>
<div class = "row">
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <input type="name" class="form-control" id="Username" placeholder="Username" name="Username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
        
        <button class="btn btn-primary"type="submit">Login</button>
      </div>
    </form>
  </div>
  </div>
</body>
{% endblock %}