.container-fluid {
    align-items: right !important;
    justify-content: space-between !important;
    background-color: #81b6be !important;
  }

  .navbar-toggler {
    padding:20px;
    font-size: 2rem;
    line-height: 1;
    color:#fff;
   
   
  }
  .nav-link
  {
    font-size: 2rem;
    color: #baddd6;
  }