

.container {
    background-color: #81b6be ;
  }

  .navbar-toggler {
    padding:20px;
    font-size: 2rem;
    line-height: 1;
    color:#fff;
   
   
  }
  .nav-link
  {
    font-size: 2rem;
    color: #baddd6;
  }