{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" id = "container" > 
        <a class="navbar-brand" href="#"> <!-- Add link -->
        <img src="{% static 'img/logo.jpg' %}"  width="30" height="24">
      </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a> <!-- Add link -->
              </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Shipments History</a> <!-- Add link -->
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Analytics</a> <!-- Add link -->
          </li>
           
            </ul>
           
          </div>
        </div>
      </nav>
      
              </header>
              
    <main>
        {% block content %}
        <!-- The content of each page will be inserted here -->
        {% endblock %}
    </main>

    <footer>
        <!-- You can put your footer content here -->
    </footer>
</body>
</html>